.search-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.not-found {
  font-size: 1.2em;
  text-align: center;
  font-family: var(--font-family);
}
